*/bin/*
*/classes/*
*/bin
*/bin/*
*/Private/*
*/target
*.~*
*Thumbs.db
.svn
.metadata
.refactorings
Servers
Servers2
build
RemoteSystemsTempFiles
viewpoint/.tomcatplugin
viewpoint/build
viewpoint/work
viewpoint/log
viewpoint/conf
viewpoint/dist
*/classes/*.class
viewpoint/WebContent/Private/*
viewpoint/WebContent/Scans/*
viewpoint/WebContent/Temp/*
viewpoint/WebContent/iRed/Wfl/Workflowbuilder/classes/bin
viewpoint/WebContent/iRed/Wfl/Workflowbuilder/classes/bin/*
viewpoint/WebContent/META-INF/context.xml
to.etc.alg/doc
myvision-itris/WEB-INF/classes/
myvision-itris/WEB-INF/classes/*
viewpoint/src/JSprinter/JSprinter.properties
to.etc.domui/javadoc
nl.itris.viewpoint.common.base
nl.itris.vp.welzorg
bin
obj
*.db
*.jar
viewpoint/temp-testng-customsuite.xml
viewpoint/test-output
viewpoint/vp-test-output
viewpoint/test/nl/itris/vp/pages/bae/invoices/purchase/customSuite.xml
viewpoint/test/nl/itris/vp/pages/bae/invoices/testSuiteInvoice.xml
viewpoint/test/nl/itris/vp/selenium/core/test/customTest.xml
target
original_TIFF_document_1_before_scan.jpg
#*pom.xml
*/maven
*.bak
snap-bin

viewpoint/test/nl/itris/vp/selenium/core/test/customSuiteVP.xml
viewpoint/test/nl/itris/vp/selenium/core/test/customXML.xml
viewpoint/test/nl/itris/vp/pages/bae/invoices/purchase/testSuitePurchase.xml
viewpoint/test/nl/itris/vp/pages/bae/custom.xml
viewpoint/.settings/oracle.eclipse.tools.webtier.ui.prefs
viewpoint/test/nl/itris/vp/util/test/FileTest.java
viewpoint/hs_err_pid*.log

vp-biz/test-output
viewpoint/test/nl/itris/vp/selenium/decade/customTest.xml

to.etc.dbcompare/.settings/org.eclipse.wst.common.component
to.etc.dbcompare/.settings/org.eclipse.wst.common.project.facet.core.xml
to.etc.dbcompare/src/META-INF/
to.etc.eclipse.daogen/.settings/org.eclipse.jdt.core.prefs
to.etc.eclipse.daogen/.settings/org.eclipse.wst.common.component
to.etc.eclipse.daogen/.settings/org.eclipse.wst.common.project.facet.core.xml
to.etc.eclipse.daogen/src/META-INF/
to.etc.encodingchecker/.settings/org.eclipse.wst.common.component
to.etc.encodingchecker/.settings/org.eclipse.wst.common.project.facet.core.xml
to.etc.encodingchecker/src/META-INF/

soapui.log
default-soapui-workspace.xml
viewpoint/test/nl/itris/vp/selenium/core/test/testSuteCustomVp.xml
vp-selenium-tests/src/nl/itris/vp/selenium/core/test/testSuteCustomVp.xml
viewpoint/WebContent/ocr
pshall
ucdetector_reports

derby.log
vp-selenium-webdriver-tests/test-output
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/vp/debugTestsSuiteVp.xml
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/vp/debugSuiteVp.xml
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/decade/tests/testDecade.xml
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/vp/wdSuiteDecadeDebug.xml
vp-selenium-tests/test-output
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/vp_old_do_not_use/debugSuiteVp.xml
vp-selenium-webdriver-tests/src/nl/itris/vp/webdriver/vp_old_do_not_use/wdSuiteDecadeDebug.xml

beheer/magick/testdata/*

.sonar
sonar-project.properties
viewpoint/WebContent/applet
